# PostgreSQL
DB_NAME=movie_analytics
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432

# External APIs (получить бесплатно на сайтах провайдеров)
TMDB_API_KEY=
OMDB_API_KEY=
KINOPOISK_API_KEY=

# Путь к распакованному датасету MovieLens 32M (не коммитить в git)
ML32M_DIR=./ml-32m
